[submodule "libft-src"]
	path = libft
	url = git@github.com:sophiakoulen/libft-src.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:sophiakoulen/ft_printf-src.git
[submodule "push_swap_tester"]
	path = push_swap_tester
	url = git@github.com:louisabricot/push_swap_tester.git
[submodule "push_swap_tester_2"]
	path = push_swap_tester_2
	url = git@github.com:LeoFu9487/push_swap_tester.git
